<!doctype html>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript">
    window.setTimeout("waktu()",1000);
    function waktu() {
        var tanggal = new Date();
        setTimeout("waktu()",1000);
        document.getElementById("jam").innerHTML = tanggal.getHours();
        document.getElementById("menit").innerHTML = tanggal.getMinutes();
        document.getElementById("detik").innerHTML = tanggal.getSeconds();
    }
</script>
</head>
<body onLoad="waktu()">
    <div style="float: left; font-weight: normal;">Jam Menit Detik</div>
    <br>
    <center>
    <p id="jam" style="float: left; margin-right: 20px;margin-left: 10px;"></p>
    <p id="menit" style="float: left; margin-right: 20px;"></p>
    <p id="detik" style="float: left; "></p>
    </center>
</table>
</body>
</html>